[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# Others
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

.vs/

.env
venv/
Resumes/
/Dotnet-MVC/appsettings.json
/Dotnet-MVC/appsettings.json


resume_history.json

/Python Backend/Agents/__pycache__/resume_agent.cpython-310.pyc
/Python Backend/__pycache__/app.cpython-310.pyc


answers/
__pycache__/
/Python Backend/Feedback/__pycache__/sentiment.cpython-310.pyc
/Python Backend/__pycache__/app.cpython-310.pyc

Datasets/